#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  margin-top: 2rem;
  background-color: gray;
}

.board .board-title {
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.board .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card {
  padding: 10px;
  background-color: darkgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%; /* Makes image responsive */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image fills the space without distortion */
  border-radius: 8px; /* Optional: Rounds corners */
}

.card-button {
  margin-top: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white ;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1px solid transparent;
  color: black
}

.main_img {
  width: 40%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}